body {
  background-color: #fff;
  color: #757575;
  font-family: Roboto, sans-serif;
}
/* header section */
.logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  color: #2196f3;
}
.site-nav .link {
  list-style:none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  color: #212121;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: #2196f3;
}
.auth-nav .link {
  color: #212121;
}
.auth-nav .link:hover,
.auth-nav .link:focus {
  color: #2196f3;
}

/* Main section */
.main-fon{
background: #2F303A;
}
.main-section{
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    color: #fff;
}

/* button */
.button{  
    background-color:  #2196F3;
    color: #fff;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
}

.section {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.1;
  color: #212121;
}
.work {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.2;
  color: #212121;
}
.work-section {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  color: #212121;
}




/* Portfolio */
.portfolio-foto{
  width: 370px;
}
.box{
  color: #212121;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
}
.box:hover,
.box:focus {
  background-color: #2196F3 ;
  color: #fff;
}
.portfolio-title{
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  color: #212121;
}
.portfolio-project{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.9px;
  color: #757575;
}

